body {
  font-family: 'Play', sans-serif; }

.fb-button {
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
  border-color: #2d5073;
  background-color: #3b5998; }
  .fb-button:hover {
    box-shadow: none;
    color: white; }

.bar {
  background-color: #2b4170;
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
  color: white; }
  .bar .title {
    color: white; }

.card-image {
  padding-top: 20px;
  box-shadow: none;
  margin-bottom: 0; }
